.bem-country-flag-48 { background: url('bem-country-flag-48.png') no-repeat top left; width: 24px; height: 24px;  background-size: 24px;}
.bem-country-flag-48.is-ad { background-position: 0 0; }
.bem-country-flag-48.is-ae { background-position: 0 -32px; }
.bem-country-flag-48.is-af { background-position: 0 -64px; }
.bem-country-flag-48.is-ag { background-position: 0 -192px; }
.bem-country-flag-48.is-ai { background-position: 0 -256px; }
.bem-country-flag-48.is-al { background-position: 0 -320px; }
.bem-country-flag-48.is-am { background-position: 0 -384px; }
.bem-country-flag-48.is-ao { background-position: 0 -448px; }
.bem-country-flag-48.is-ar { background-position: 0 -512px; }
.bem-country-flag-48.is-as { background-position: 0 -576px; }
.bem-country-flag-48.is-at { background-position: 0 -640px; }
.bem-country-flag-48.is-au { background-position: 0 -704px; }
.bem-country-flag-48.is-aw { background-position: 0 -768px; }
.bem-country-flag-48.is-ax { background-position: 0 -832px; }
.bem-country-flag-48.is-az { background-position: 0 -896px; }
.bem-country-flag-48.is-ba { background-position: 0 -960px; }
.bem-country-flag-48.is-bb { background-position: 0 -1024px; }
.bem-country-flag-48.is-bd { background-position: 0 -1088px; }
.bem-country-flag-48.is-be { background-position: 0 -1152px; }
.bem-country-flag-48.is-bf { background-position: 0 -1216px; }
.bem-country-flag-48.is-bg { background-position: 0 -1280px; }
.bem-country-flag-48.is-bh { background-position: 0 -1344px; }
.bem-country-flag-48.is-bi { background-position: 0 -1408px; }
.bem-country-flag-48.is-bj { background-position: 0 -1472px; }
.bem-country-flag-48.is-bl { background-position: 0 -1536px; }
.bem-country-flag-48.is-bm { background-position: 0 -1600px; }
.bem-country-flag-48.is-bn { background-position: 0 -1664px; }
.bem-country-flag-48.is-bo { background-position: 0 -1728px; }
.bem-country-flag-48.is-bq-bo { background-position: 0 -1792px; }
.bem-country-flag-48.is-bq-sa { background-position: 0 -1856px; }
.bem-country-flag-48.is-bq-se { background-position: 0 -1920px; }
.bem-country-flag-48.is-br { background-position: 0 -1984px; }
.bem-country-flag-48.is-bs { background-position: 0 -2048px; }
.bem-country-flag-48.is-bt { background-position: 0 -2112px; }
.bem-country-flag-48.is-bw { background-position: 0 -2176px; }
.bem-country-flag-48.is-by { background-position: 0 -2240px; }
.bem-country-flag-48.is-bz { background-position: 0 -2304px; }
.bem-country-flag-48.is-ca-bc { background-position: 0 -2368px; }
.bem-country-flag-48.is-ca { background-position: 0 -2432px; }
.bem-country-flag-48.is-cc { background-position: 0 -2496px; }
.bem-country-flag-48.is-cd { background-position: 0 -2560px; }
.bem-country-flag-48.is-cf { background-position: 0 -2624px; }
.bem-country-flag-48.is-cg { background-position: 0 -2688px; }
.bem-country-flag-48.is-ch { background-position: 0 -2752px; }
.bem-country-flag-48.is-ci { background-position: 0 -2816px; }
.bem-country-flag-48.is-ck { background-position: 0 -2880px; }
.bem-country-flag-48.is-cl { background-position: 0 -2944px; }
.bem-country-flag-48.is-cm { background-position: 0 -3008px; }
.bem-country-flag-48.is-cn { background-position: 0 -3072px; }
.bem-country-flag-48.is-co { background-position: 0 -3136px; }
.bem-country-flag-48.is-cr { background-position: 0 -3200px; }
.bem-country-flag-48.is-cu { background-position: 0 -3264px; }
.bem-country-flag-48.is-cv { background-position: 0 -3328px; }
.bem-country-flag-48.is-cw { background-position: 0 -3392px; }
.bem-country-flag-48.is-cx { background-position: 0 -3456px; }
.bem-country-flag-48.is-cy { background-position: 0 -3520px; }
.bem-country-flag-48.is-cz { background-position: 0 -3584px; }
.bem-country-flag-48.is-de { background-position: 0 -3648px; }
.bem-country-flag-48.is-dj { background-position: 0 -3712px; }
.bem-country-flag-48.is-dk { background-position: 0 -3776px; }
.bem-country-flag-48.is-dm { background-position: 0 -3840px; }
.bem-country-flag-48.is-do { background-position: 0 -3904px; }
.bem-country-flag-48.is-dz { background-position: 0 -3968px; }
.bem-country-flag-48.is-easter_island { background-position: 0 -4032px; }
.bem-country-flag-48.is-ec-w { background-position: 0 -4096px; }
.bem-country-flag-48.is-ec { background-position: 0 -4160px; }
.bem-country-flag-48.is-ee { background-position: 0 -4224px; }
.bem-country-flag-48.is-eg { background-position: 0 -4288px; }
.bem-country-flag-48.is-eh { background-position: 0 -4352px; }
.bem-country-flag-48.is-er { background-position: 0 -4416px; }
.bem-country-flag-48.is-es-ce { background-position: 0 -4480px; }
.bem-country-flag-48.is-es-cn { background-position: 0 -4544px; }
.bem-country-flag-48.is-es-ga { background-position: 0 -4608px; }
.bem-country-flag-48.is-es-ib { background-position: 0 -4672px; }
.bem-country-flag-48.is-es-ml { background-position: 0 -4736px; }
.bem-country-flag-48.is-es-pv { background-position: 0 -4800px; }
.bem-country-flag-48.is-es { background-position: 0 -4864px; }
.bem-country-flag-48.is-esperanto { background-position: 0 -4928px; }
.bem-country-flag-48.is-et { background-position: 0 -4992px; }
.bem-country-flag-48.is-european_union { background-position: 0 -5056px; }
.bem-country-flag-48.is-fi { background-position: 0 -5120px; }
.bem-country-flag-48.is-fj { background-position: 0 -5184px; }
.bem-country-flag-48.is-fk { background-position: 0 -5248px; }
.bem-country-flag-48.is-fm { background-position: 0 -5312px; }
.bem-country-flag-48.is-fo { background-position: 0 -5376px; }
.bem-country-flag-48.is-fr-h { background-position: 0 -5440px; }
.bem-country-flag-48.is-fr { background-position: 0 -5504px; }
.bem-country-flag-48.is-ga { background-position: 0 -5568px; }
.bem-country-flag-48.is-gb-eng { background-position: 0 -5632px; }
.bem-country-flag-48.is-gb-ork { background-position: 0 -5696px; }
.bem-country-flag-48.is-gb-sct { background-position: 0 -5760px; }
.bem-country-flag-48.is-gb-wls { background-position: 0 -5824px; }
.bem-country-flag-48.is-gb { background-position: 0 -5888px; }
.bem-country-flag-48.is-gd { background-position: 0 -5952px; }
.bem-country-flag-48.is-ge-ab { background-position: 0 -6016px; }
.bem-country-flag-48.is-ge { background-position: 0 -6080px; }
.bem-country-flag-48.is-gg { background-position: 0 -6144px; }
.bem-country-flag-48.is-gh { background-position: 0 -6208px; }
.bem-country-flag-48.is-gi { background-position: 0 -6272px; }
.bem-country-flag-48.is-gl { background-position: 0 -6336px; }
.bem-country-flag-48.is-gm { background-position: 0 -6400px; }
.bem-country-flag-48.is-gn { background-position: 0 -6464px; }
.bem-country-flag-48.is-gq { background-position: 0 -6528px; }
.bem-country-flag-48.is-gr { background-position: 0 -6592px; }
.bem-country-flag-48.is-gt { background-position: 0 -6656px; }
.bem-country-flag-48.is-gu { background-position: 0 -6720px; }
.bem-country-flag-48.is-gw { background-position: 0 -6784px; }
.bem-country-flag-48.is-gy { background-position: 0 -6848px; }
.bem-country-flag-48.is-hausa { background-position: 0 -6912px; }
.bem-country-flag-48.is-hk { background-position: 0 -6976px; }
.bem-country-flag-48.is-hmong { background-position: 0 -7040px; }
.bem-country-flag-48.is-hn { background-position: 0 -7104px; }
.bem-country-flag-48.is-hr { background-position: 0 -7168px; }
.bem-country-flag-48.is-ht { background-position: 0 -7232px; }
.bem-country-flag-48.is-hu { background-position: 0 -7296px; }
.bem-country-flag-48.is-id { background-position: 0 -7360px; }
.bem-country-flag-48.is-ie { background-position: 0 -7424px; }
.bem-country-flag-48.is-il { background-position: 0 -7488px; }
.bem-country-flag-48.is-im { background-position: 0 -7552px; }
.bem-country-flag-48.is-in { background-position: 0 -7616px; }
.bem-country-flag-48.is-io { background-position: 0 -7680px; }
.bem-country-flag-48.is-iq { background-position: 0 -7744px; }
.bem-country-flag-48.is-ir { background-position: 0 -7808px; }
.bem-country-flag-48.is-is { background-position: 0 -7872px; }
.bem-country-flag-48.is-it-82 { background-position: 0 -7936px; }
.bem-country-flag-48.is-it-88 { background-position: 0 -8000px; }
.bem-country-flag-48.is-it { background-position: 0 -8064px; }
.bem-country-flag-48.is-je { background-position: 0 -8128px; }
.bem-country-flag-48.is-jm { background-position: 0 -8192px; }
.bem-country-flag-48.is-jo { background-position: 0 -8256px; }
.bem-country-flag-48.is-jp { background-position: 0 -8320px; }
.bem-country-flag-48.is-kannada { background-position: 0 -8384px; }
.bem-country-flag-48.is-ke { background-position: 0 -8448px; }
.bem-country-flag-48.is-kg { background-position: 0 -8512px; }
.bem-country-flag-48.is-kh { background-position: 0 -8576px; }
.bem-country-flag-48.is-ki { background-position: 0 -8640px; }
.bem-country-flag-48.is-km { background-position: 0 -8704px; }
.bem-country-flag-48.is-kn { background-position: 0 -8768px; }
.bem-country-flag-48.is-kp { background-position: 0 -8832px; }
.bem-country-flag-48.is-kr { background-position: 0 -8896px; }
.bem-country-flag-48.is-kurdistan { background-position: 0 -8960px; }
.bem-country-flag-48.is-kw { background-position: 0 -9024px; }
.bem-country-flag-48.is-ky { background-position: 0 -9088px; }
.bem-country-flag-48.is-kz { background-position: 0 -9152px; }
.bem-country-flag-48.is-la { background-position: 0 -9216px; }
.bem-country-flag-48.is-lb { background-position: 0 -9280px; }
.bem-country-flag-48.is-lc { background-position: 0 -9344px; }
.bem-country-flag-48.is-li { background-position: 0 -9408px; }
.bem-country-flag-48.is-lk { background-position: 0 -9472px; }
.bem-country-flag-48.is-lr { background-position: 0 -9536px; }
.bem-country-flag-48.is-ls { background-position: 0 -9600px; }
.bem-country-flag-48.is-lt { background-position: 0 -9664px; }
.bem-country-flag-48.is-lu { background-position: 0 -9728px; }
.bem-country-flag-48.is-lv { background-position: 0 -9792px; }
.bem-country-flag-48.is-ly { background-position: 0 -9856px; }
.bem-country-flag-48.is-ma { background-position: 0 -9920px; }
.bem-country-flag-48.is-malayali { background-position: 0 -9984px; }
.bem-country-flag-48.is-maori { background-position: 0 -10048px; }
.bem-country-flag-48.is-mc { background-position: 0 -10112px; }
.bem-country-flag-48.is-md { background-position: 0 -10176px; }
.bem-country-flag-48.is-me { background-position: 0 -10240px; }
.bem-country-flag-48.is-mg { background-position: 0 -10304px; }
.bem-country-flag-48.is-mh { background-position: 0 -10368px; }
.bem-country-flag-48.is-mk { background-position: 0 -10432px; }
.bem-country-flag-48.is-ml { background-position: 0 -10496px; }
.bem-country-flag-48.is-mm { background-position: 0 -10560px; }
.bem-country-flag-48.is-mn { background-position: 0 -10624px; }
.bem-country-flag-48.is-mo { background-position: 0 -10688px; }
.bem-country-flag-48.is-mp { background-position: 0 -10752px; }
.bem-country-flag-48.is-mq { background-position: 0 -10816px; }
.bem-country-flag-48.is-mr { background-position: 0 -10880px; }
.bem-country-flag-48.is-ms { background-position: 0 -10944px; }
.bem-country-flag-48.is-mt { background-position: 0 -11008px; }
.bem-country-flag-48.is-mu { background-position: 0 -11072px; }
.bem-country-flag-48.is-mv { background-position: 0 -11136px; }
.bem-country-flag-48.is-mw { background-position: 0 -11200px; }
.bem-country-flag-48.is-mx { background-position: 0 -11264px; }
.bem-country-flag-48.is-my { background-position: 0 -11328px; }
.bem-country-flag-48.is-mz { background-position: 0 -11392px; }
.bem-country-flag-48.is-na { background-position: 0 -11456px; }
.bem-country-flag-48.is-nato { background-position: 0 -11520px; }
.bem-country-flag-48.is-ne { background-position: 0 -11584px; }
.bem-country-flag-48.is-nf { background-position: 0 -11648px; }
.bem-country-flag-48.is-ng { background-position: 0 -11712px; }
.bem-country-flag-48.is-ni { background-position: 0 -11776px; }
.bem-country-flag-48.is-nl { background-position: 0 -11840px; }
.bem-country-flag-48.is-no { background-position: 0 -11904px; }
.bem-country-flag-48.is-northern_cyprus { background-position: 0 -11968px; }
.bem-country-flag-48.is-np { background-position: 0 -12032px; }
.bem-country-flag-48.is-nr { background-position: 0 -12096px; }
.bem-country-flag-48.is-nu { background-position: 0 -12160px; }
.bem-country-flag-48.is-nz { background-position: 0 -12224px; }
.bem-country-flag-48.is-om { background-position: 0 -12288px; }
.bem-country-flag-48.is-pa { background-position: 0 -12352px; }
.bem-country-flag-48.is-pe { background-position: 0 -12416px; }
.bem-country-flag-48.is-pf { background-position: 0 -12480px; }
.bem-country-flag-48.is-pg { background-position: 0 -12544px; }
.bem-country-flag-48.is-ph { background-position: 0 -12608px; }
.bem-country-flag-48.is-pk { background-position: 0 -12672px; }
.bem-country-flag-48.is-pl { background-position: 0 -12736px; }
.bem-country-flag-48.is-pn { background-position: 0 -12800px; }
.bem-country-flag-48.is-pr { background-position: 0 -12864px; }
.bem-country-flag-48.is-ps { background-position: 0 -12928px; }
.bem-country-flag-48.is-pt-20 { background-position: 0 -12992px; }
.bem-country-flag-48.is-pt-30 { background-position: 0 -13056px; }
.bem-country-flag-48.is-pt { background-position: 0 -13120px; }
.bem-country-flag-48.is-pw { background-position: 0 -13184px; }
.bem-country-flag-48.is-py { background-position: 0 -13248px; }
.bem-country-flag-48.is-qa { background-position: 0 -13312px; }
.bem-country-flag-48.is-ro { background-position: 0 -13376px; }
.bem-country-flag-48.is-rs { background-position: 0 -13440px; }
.bem-country-flag-48.is-ru { background-position: 0 -13504px; }
.bem-country-flag-48.is-rw { background-position: 0 -13568px; }
.bem-country-flag-48.is-sa { background-position: 0 -13632px; }
.bem-country-flag-48.is-sb { background-position: 0 -13696px; }
.bem-country-flag-48.is-sc { background-position: 0 -13760px; }
.bem-country-flag-48.is-sd { background-position: 0 -13824px; }
.bem-country-flag-48.is-se { background-position: 0 -13888px; }
.bem-country-flag-48.is-sg { background-position: 0 -13952px; }
.bem-country-flag-48.is-si { background-position: 0 -14016px; }
.bem-country-flag-48.is-sindh { background-position: 0 -14080px; }
.bem-country-flag-48.is-sk { background-position: 0 -14144px; }
.bem-country-flag-48.is-sl { background-position: 0 -14208px; }
.bem-country-flag-48.is-sm { background-position: 0 -14272px; }
.bem-country-flag-48.is-sn { background-position: 0 -14336px; }
.bem-country-flag-48.is-so { background-position: 0 -14400px; }
.bem-country-flag-48.is-somaliland { background-position: 0 -14464px; }
.bem-country-flag-48.is-south_ossetia { background-position: 0 -14528px; }
.bem-country-flag-48.is-sr { background-position: 0 -14592px; }
.bem-country-flag-48.is-ss { background-position: 0 -14656px; }
.bem-country-flag-48.is-st { background-position: 0 -14720px; }
.bem-country-flag-48.is-sv { background-position: 0 -14784px; }
.bem-country-flag-48.is-sx { background-position: 0 -14848px; }
.bem-country-flag-48.is-sy { background-position: 0 -14912px; }
.bem-country-flag-48.is-sz { background-position: 0 -14976px; }
.bem-country-flag-48.is-tc { background-position: 0 -15040px; }
.bem-country-flag-48.is-td { background-position: 0 -15104px; }
.bem-country-flag-48.is-tg { background-position: 0 -15168px; }
.bem-country-flag-48.is-th { background-position: 0 -15232px; }
.bem-country-flag-48.is-tibet { background-position: 0 -15296px; }
.bem-country-flag-48.is-tj { background-position: 0 -15360px; }
.bem-country-flag-48.is-tk { background-position: 0 -15424px; }
.bem-country-flag-48.is-tl { background-position: 0 -15488px; }
.bem-country-flag-48.is-tm { background-position: 0 -15552px; }
.bem-country-flag-48.is-tn { background-position: 0 -15616px; }
.bem-country-flag-48.is-to { background-position: 0 -15680px; }
.bem-country-flag-48.is-tr { background-position: 0 -15744px; }
.bem-country-flag-48.is-transnistria { background-position: 0 -15808px; }
.bem-country-flag-48.is-tt { background-position: 0 -15872px; }
.bem-country-flag-48.is-tv { background-position: 0 -15936px; }
.bem-country-flag-48.is-tw { background-position: 0 -16000px; }
.bem-country-flag-48.is-tz { background-position: 0 -16064px; }
.bem-country-flag-48.is-ua { background-position: 0 -16128px; }
.bem-country-flag-48.is-ug { background-position: 0 -16192px; }
.bem-country-flag-48.is-united_nations { background-position: 0 -16256px; }
.bem-country-flag-48.is-us-hi { background-position: 0 -16320px; }
.bem-country-flag-48.is-us { background-position: 0 -16384px; }
.bem-country-flag-48.is-uy { background-position: 0 -16448px; }
.bem-country-flag-48.is-uz { background-position: 0 -16512px; }
.bem-country-flag-48.is-va { background-position: 0 -16576px; }
.bem-country-flag-48.is-vc { background-position: 0 -16640px; }
.bem-country-flag-48.is-ve { background-position: 0 -16704px; }
.bem-country-flag-48.is-vg { background-position: 0 -16768px; }
.bem-country-flag-48.is-vi { background-position: 0 -16832px; }
.bem-country-flag-48.is-vn { background-position: 0 -16896px; }
.bem-country-flag-48.is-vu { background-position: 0 -16960px; }
.bem-country-flag-48.is-ws { background-position: 0 -17024px; }
.bem-country-flag-48.is-xk { background-position: 0 -17088px; }
.bem-country-flag-48.is-xx { background-position: 0 -17152px; }
.bem-country-flag-48.is-ye { background-position: 0 -17216px; }
.bem-country-flag-48.is-yiddish { background-position: 0 -17280px; }
.bem-country-flag-48.is-za { background-position: 0 -17344px; }
.bem-country-flag-48.is-zm { background-position: 0 -17408px; }
.bem-country-flag-48.is-zw { background-position: 0 -17472px; }