$countries: "ad", "ae", "af", "ag", "ai", "al", "am", "ao", "ar", "as", "at", "au", "aw", "ax", "az", "ba", "bb", "bd", "be", "bf", "bg", "bh", "bi", "bj", "bl", "bm", "bn", "bo", "bq-bo", "bq-sa", "bq-se", "br", "bs", "bt", "bw", "by", "bz", "ca-bc", "ca", "cc", "cd", "cf", "cg", "ch", "ci", "ck", "cl", "cm", "cn", "co", "cr", "cu", "cv", "cw", "cx", "cy", "cz", "de", "dj", "dk", "dm", "do", "dz", "easter_island", "ec-w", "ec", "ee", "eg", "eh", "er", "es-ce", "es-cn", "es-ga", "es-ib", "es-ml", "es-pv", "es", "esperanto", "et", "european_union", "fi", "fj", "fk", "fm", "fo", "fr-h", "fr", "ga", "gb-eng", "gb-ork", "gb-sct", "gb-wls", "gb", "gd", "ge-ab", "ge", "gg", "gh", "gi", "gl", "gm", "gn", "gq", "gr", "gt", "gu", "gw", "gy", "hausa", "hk", "hmong", "hn", "hr", "ht", "hu", "id", "ie", "il", "im", "in", "io", "iq", "ir", "is", "it-82", "it-88", "it", "je", "jm", "jo", "jp", "kannada", "ke", "kg", "kh", "ki", "km", "kn", "kp", "kr", "kurdistan", "kw", "ky", "kz", "la", "lb", "lc", "li", "lk", "lr", "ls", "lt", "lu", "lv", "ly", "ma", "malayali", "maori", "mc", "md", "me", "mg", "mh", "mk", "ml", "mm", "mn", "mo", "mp", "mq", "mr", "ms", "mt", "mu", "mv", "mw", "mx", "my", "mz", "na", "nato", "ne", "nf", "ng", "ni", "nl", "no", "northern_cyprus", "np", "nr", "nu", "nz", "om", "pa", "pe", "pf", "pg", "ph", "pk", "pl", "pn", "pr", "ps", "pt-20", "pt-30", "pt", "pw", "py", "qa", "ro", "rs", "ru", "rw", "sa", "sb", "sc", "sd", "se", "sg", "si", "sindh", "sk", "sl", "sm", "sn", "so", "somaliland", "south_ossetia", "sr", "ss", "st", "sv", "sx", "sy", "sz", "tc", "td", "tg", "th", "tibet", "tj", "tk", "tl", "tm", "tn", "to", "tr", "transnistria", "tt", "tv", "tw", "tz", "ua", "ug", "united_nations", "us-hi", "us", "uy", "uz", "va", "vc", "ve", "vg", "vi", "vn", "vu", "ws", "xk", "xx", "ye", "yiddish", "za", "zm", "zw";
$flag-width: 48px;
$flag-height: 48px;
$sprite-offset: 16px;
$block-size: $flag-height + $sprite-offset;

// .bem-country-flag-48 {
// 	background: url("bem-country-flag-48.png") no-repeat top left;
// 	width: $flag-width;
// 	height: $flag-height;
// 	background-size: $flag-width;
// }

// @each $country in $countries {
//   $index: index($countries, $country)-1;

//   .bem-country-flag-48.is-#{$country} {
//   	background-position: 0 #{-$block-size*$index};
//   }
// }

.bem-country-flag-24-2x {
	background: url("bem-country-flag-48.png") no-repeat top left;
	width: $flag-width/2;
	height: $flag-height/2;
	background-size: $flag-width/2;
}

@each $country in $countries {
  $index: index($countries, $country)-1;

  .bem-country-flag-24-2x.is-#{$country} {
  	background-position: 0 #{-$block-size*$index/2};
  }
}
